* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
:root {
    height: 100vh;
    overflow-x: hidden;
    --dark-brown: #602E1C;
    --light-brown: #AD734D;
    --pinkish: #f2e7c7;
    --orange: #C95514;
}

body {
    background: white;
    color: var(--dark-brown)
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}