.navbar-light .nav-item .nav-link {
    font-family: Julius Sans One;
    white-space: nowrap;
    font-weight: 500;
    padding: 0px 50px 0px 30px;
    color: var(--dark-brown);
    transition: 0.3s;
}

.navbar-light .nav-item .nav-link:hover {
    color: #fff;
}

.navbar {
   transition: 0.3s;
}

@media screen and (max-width: 991px) {
    .navbar-light .nav-item {
        display: flex;
        justify-content: center;
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        border-radius: 3px;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon3 span {
        background: var(--dark-brown);
    }

    .animated-icon3 span:nth-child(1) {

        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        }
        
        .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        }
        
        .animated-icon3 span:nth-child(3) {

        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        }
        
        .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
        }
        
        .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
        }
        
        .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
        }
        .navbar-light .navbar-brand {
            padding-left: 30px;
        }
        .navbar.open {
            background-color: #fff;
        }
        .navbar-nav.open {
            height: 100%;
        }
        .navbar-light .nav-item .nav-link:hover {
            color: var(--dark-brown);
        }
}