/* Nabars */
.site-header-top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background-color: var(--yellowish);
    
}

.site-header-top img {
    height: 70px;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 997;
}

.onMoveHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
}

.onMoveHeader img {
    padding-left: 40px;
}

.onMoveNavbar {
    padding-right: 20px;
}

.onMoveHeader .nav-item .nav-link {
    color: var(--dark-brown);
}

.onMoveHeader .nav-item .nav-link:hover {
    color: var(--light-brown);
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100vw;
    height: 4rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: var(--dark-brown);

}

.main-menu .nav-item .nav-link {
    color: white;
    font-family: Julius Sans One;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
}

.main-menu .nav-item .nav-link:hover {
    color: var(--light-brown);
}

.navbar-toggler {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Carousel*/

.view {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel,
.carousel-item,
.carousel-item.active {
    height: 100vh;
    width: 100vw;

}
.carousel-inner {
    height: 100%;
    width: 100vw;
}
.carousel-item:nth-child(1) {
    width: 100vw;
    background-image: url("../images/cake-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(2) {
    width: 100vw;
    background-image: url("../images/cake-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(3) {
    width: 100vw;
    background-image: url("../images/cake-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 10px;
    width: 10px;
}

.carousel-indicators {
    z-index: 1;
}

.view ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-slide-title {
    font-family: Julius Sans One;
    text-align: center;
    font-size: 80px;
    color: white;
}

.first-slide-caption {
    font-family: Playfair Display;
    font-size: 19px;
    text-align: center;
    color: white
}

.first-slide-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Julius Sans One;
    font-size: 15px;
    color: white;

    width: 200px;
    height: 60px;
    background-color: var(--light-brown)
}

/*About Us and Cards */

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

/* About Us  */

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background-color: var(--light-brown);

    height: 327px;
    width: 100vw;
    
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 500px;
    height: 327px;
}

.text-block h1 {
    display: flex; 
    justify-content: center; 
    align-items: center;

    color: white; 
    font-size: 40px; 
    font-family: Nanum Gothic;
    font-weight: 700;
    text-transform: uppercase; 
    letter-spacing: 7px;

    padding: 20px 0px 10px 0px
}

.text-block p {
    font-family: Playfair Display;
    font-size: 16px;
    text-align: center;

    padding: 0px 10px 10px 10px; 
}

/* Cards Section */

.section-title {
    font-family: Dancing Script;
    font-size: 50px;
    padding: 20px 0px 20px 0px;

    text-align: center;

}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;

    width: 263px;
    height: 449px;

    text-align: center;

    border: none;

}

.card:nth-child(2) {
    margin: 0px 15px 0px 15px
}

.card img {
    width: 217.45px;
    height: 217.45px;
    padding-bottom: 8px;
}

.card h3 {
    font-family: Nanum Gothic;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;

    padding: 10px 0px 10px 0px;
}

.card p {
    text-align: center;
    font-family: Playfair Display;
    font-size: 14px;
    padding-bottom: 8px;
}

.learn-more-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    border: 2px solid var(--dark-brown); 
    color: var(--dark-brown); 
    font-family: Nanum Gothic;
    font-weight: 700;
    text-transform: uppercase; 
    font-size: 17px; 
    width: 161px; 
    height: 61px;
    transition: 0.3s;
}

.learn-more-button:hover {
    color: white; 
    border-color: var(--light-brown);
    background-color: var(--light-brown);
}

.footer {
    background-color: var(--light-brown);
    /* height: 60px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    /* adicionar height aqui */
    padding: 10px 0px 10px 0px;
}

.social-media-buttons {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
    transition: 0.3s;
}

.social-media-buttons:hover {
    background-color: var(--dark-brown);
}

.social-media-container a {
    color: var(--dark-brown);
    transition: 0.3s;
}

.social-media-container a:hover {
    color: white;
}

.attribution {
    background-color: var(--dark-brown); 
    width: 100vw;

    color: var(--light-brown); 
    height: 40px; 
    font-family: Nanum Gothic; 
    text-transform: uppercase; 
    font-weight: 200; 
    font-size: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.attribution a:visited {
    color: white;
}

@media screen and (max-width: 991px) {
    /* Navbars (Mobile, Top and Sticky) */
    .navbar-toggler {
        display: flex;
    }
    .site-header-top {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
    .site-header-top img {
    height: 50px;
    padding-left: 10px;
    }
    .navbar-light .navbar-toggler {
    border: none;
    }
    .main-menu {
    display:none;
    }
    .mobile-menu a {
    font-size: 20px;
    color: white;
    -webkit-animation: fadeInRight 1s ease-in-out;
    -moz-animation: fadeInRight 1s ease-in-out;
    -o-animation: fadeInRight 1s ease-in-out;
    animation: fadeInRight 1s ease-in-out;
    }
    @keyframes fadeInRight {
        0% {
           opacity: 0;
           transform: translateX(20px);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
     } 
    .mobile-menu a:hover {
    color: var(--light-brown);
    }
    .mobile-menu.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-brown);

    font-family: Julius Sans One;
    font-size: 15px;
    color: white;

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 997;

    }
    .navbar-light .nav-item .nav-link:hover {
    color: var(--dark-brown);
    }
    .social-media-container a {
        color: var(--dark-brown);
        transition: 0.3s;
    }
    .footer {
        display: none;
    }
    .social-media-buttons {
        height: 40px;
        width: 40px;
        border-radius: 40px;   
    }
    #scroll-navbar {
        display: none;
    } 

    /* Hamburguer button */
    .animated-icon3 {
    width: 30px;
    height: 20px;
    padding-right: 20px;

    position: relative;

    margin: 0px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    cursor: pointer;

    z-index: 999;
    }

    .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }

    .animated-icon3 span {
    background: var(--orange);
    }
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }

    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }

    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }
    /* Carousel masks */
    .first-slide-title {
        font-size: 60px;
    }

    .first-slide-caption {
        font-size: 17px;
    }

    .first-slide-button {
        font-size: 15px;

        width: 200px;
        height: 53px;
    }
    .attribution {
        height: 50px; 
    }
    .cards-container {
        flex-direction: column;
    }
    .text-block {
        width: 327px;
    }
}